<div class="container" style="text-align: center">
<h1>Mister cocktail app</h1>

<%= cl_image_tag("bkrzu4gvbacya2lpxd2m.jpg",
      width: 400, height: 300, crop: :fill) %>
<hr>
<table class="table">
<% @cocktails.each do |cocktail| %>
  <tr>
    <td><%=  cocktail.name %>    </td>
    <%# end %>
    <td>
  <%= link_to 'Show', cocktail_path(cocktail), class:"btn btn-danger" %>  
<%= link_to 'Edit', edit_cocktail_path(cocktail), class:"btn btn-danger" %>
<%= link_to 'Delete', cocktail_path(cocktail), method: :delete, class:"btn btn-danger" %></td>
    <% end %>
  </tr>
</table>

<hr>

  <%= link_to "New cocktail", new_cocktail_path, class:"btn btn-danger" %>

</div>


<ul>
  <li>
    
  </li>
</ul>